{
    "name":       "MsgGetStatus",
    "namespace":  "com.incomplete.cubegs.common.avro.messages",
    "type":       "record",
    "doc":        "This message retrieves the status of all components or systems",

    "fields" : [
        {"name": "header", "type": {{{MsgHeader}}}, "doc": "Common messages header"},

        {"name": "component_id",        "type": "string",   "doc": "Target component or system"}

    ]
}


