{
    "name": "MsgReceivedHeader",
    "namespace": "com.incomplete.cubegs.common.avro.messages",
    "type": "record",
    "doc": "This message only contains the header of the received message in order to extract the identification of the message",
    "fields" : [
        {"name": "header", "type": {{{MsgHeader}}}, "doc": "Common messages header"}
    ]
}

